@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@400;500&display=swap');

@font-face {
  font-family: Fira Code VF;
  font-weight: 300 700;
  font-style: normal;
  src: url(/static/fonts/FiraCode-VF.woff2) format('woff2-variations'),
    url(/static/fonts/FiraCode-VF.woff) format('woff-variations');
}

:root {
  --ifm-font-family-base: 'Rubik', system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --ifm-font-family-monospace: 'Fira Code VF', SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --ifm-color-primary: #de2a2a;
  --ifm-color-primary-dark: #f2a5a5;
  --ifm-color-primary-darker: #ffc2c2;
  --ifm-color-primary-darkest: #a61c1c;
  --ifm-color-primary-light: #f2a5a5;
  --ifm-color-primary-lighter: #ffc2c2;
  --ifm-color-primary-lightest: #f7c8c8;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-font-family-base: 'Rubik', system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --ifm-font-family-monospace: 'Fira Code VF', SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --ifm-color-primary: #de2a2a;
  --ifm-color-primary-dark: #f2a5a5;
  --ifm-color-primary-darker: #ffc2c2;
  --ifm-color-primary-darkest: #a61c1c;
  --ifm-color-primary-light: #f2a5a5;
  --ifm-color-primary-lighter: #ffc2c2;
  --ifm-color-primary-lightest: #f7c8c8;
}

.space {
  padding: 5px;
}

/* Contact Start */

label {
  font-weight: var(--ifm-font-weight-semibold);
}

input {
  background-color: var(--ifm-color-emphasis-200);
  border: 2px solid var(--ifm-color-emphasis-200);
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
}

input:focus,
textarea:focus {
  border-color: var(--ifm-color-emphasis-900);
}

/* Contact End */

/* styles.module.css */

.featuresHeading {
  text-align: left;
  padding: 2rem;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
